body{
  background-color: #222222;
  font-family: Helvetica;
  font-size: 100%;
  margin: 0;
  padding: 0;
}
p{
  color: #ffffff;
  font-family: Helvetica;

}
#intro{
  color: #ffffff;
  float: right;
  text-align: center;
}
#image1{
  float: left;

}
#image1 img{
  width: 150%;
  max-height:300px;
  float: center;
  align-content: center;
}

.col img{
  width: 100%;
  border-radius: 5px;
  border-style: solid;
  border-color: #4b4e6d;
  box-shadow: 5px 5px 5px #84dcc6;

}
.tooltip-wrap {
  position: relative;
}
.tooltip-wrap .tooltip-content {
  display: none;
  position: absolute;
  bottom: 5%;
  left: 10%;
  right: 10%;
  padding: .5em;
}
.tooltip-wrap:hover .tooltip-content {
  display: block;
  text-align: center;
  align-content: center;
  text-shadow: 1px 1px 1px black;
}

 h1,  h2{
  text-align: center;
  color: #e50914;
  text-shadow: 5px 5px 5px black;
}
.row{
  width: 100%;
  border-radius: 5px;
  border: 100px soild #4b4e6d;
  box-shadow: #84dcc6;
}

.navbar-brand{
  color: #84dcc6;

}
.dropdown-item {
  color: #4b4e6d;
}
.bg-warning {
    background-color: #4b4e6d;
}
img{
  width: 100%;

}
.col img:hover{
  width: 110%;
  height; auto;
  filter: blur(2px);
  object-fit: cover;
  transition: width 1s;

}
nav{
  background-color: #4b4e6d;
}
.bg-light{
 color:  #87399d;
}
