body {
    font-family: Helvetica, Verdana, Arial, "san serif";
    background-color: DarkCyan;
    padding: 20px;
    font-size: 120%;
    border: 4px soild black;
    margin: 3px soild black;
}

div#content {
    padding: 25px;
    background-color: SkyBlue;
    height: 80vh;
    margin: 20px;
    border: dashed 50px 618685;
}

#content, img{
    border: 30px solid #618685;
    border-style: ridge;
    border-radius: 50px;
}

h1, h2, h3 {
    font-family: 'Caesar Dressing';
}

div#text {
    border: 15px solid #618685;
    border-style: ridge;
    background-color: #d5f4e6;
    margin: 20px;
    width: 600px;
}

p.unique {
    color: DarkCyan;
    font-family: 'Amatic SC', cursive;
}

img {
    float: right;
    width: 400px;
    height: auto;
    margin: 20px;

}

img:hover{
  width: 450px;
  float: right;
  height; auto;
}
span {
  text-decoration: underline;
  text-decoration-style: wavy;
}

a {
    text-decoration: none;
    color: black;
    border: 15px solid #618685;
    border-style: ridge;
    background-color: #d5f4e6;
    margin: 20px;
    width: 600px;
}

a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
}
